<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Sonr</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>sonr_app</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>0.10.0</string>
		<key>CFBundleVersion</key>
		<string>23</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>sonr</string>
					<string>ShareMedia</string>
				</array>
			</dict>
			<dict/>
		</array>
		<key>ITSAppUsesNonExemptEncryption</key>
		<false/>
		<key>LSApplicationCategoryType</key>
		<string>Privacy - Location When In Use Usage Description</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSAppleMusicUsageDescription</key>
		<string>No Clue Ignore</string>
		<key>NSBluetoothAlwaysUsageDescription</key>
		<string>Need BLE permission</string>
		<key>NSBluetoothPeripheralUsageDescription</key>
		<string>Need BLE permission</string>
		<key>NSCalendarsUsageDescription</key>
		<string>No Clue Ignore</string>
		<key>NSCameraUsageDescription</key>
		<string>Requried for the App</string>
		<key>NSContactsUsageDescription</key>
		<string>Required for exporting contacts to your device.</string>
		<key>NSFaceIDUsageDescription</key>
		<string>Saves User Data in Secure Location</string>
		<key>NSLocalNetworkUsageDescription</key>
		<string>Used for proximity communications</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>App needs location permissions to scan nearby beacons.</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>Required for the App</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>Requried for the App</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>Requried for the App</string>
		<key>NSMotionUsageDescription</key>
		<string>A reason to get the permission</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Requried for the App</string>
		<key>UIBackgroundModes</key>
		<array>
			<string>fetch</string>
			<string>remote-notification</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>io.flutter.embedded_views_preview</key>
		<true/>
	</dict>
</plist>
